
{% extends "sb_admin_2/auth/card.html" %}

{% load i18n %}

{% block title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block card %}
<!-- Nested Row within Card Body -->
<div class="row">
  <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
  <div class="col-lg-6">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-2">{% trans "Confirm E-mail Address" %}</h1>
        <p class="mb-4">
          {% trans "We have sent you an e-mail. Please contact us if you do not receive it within a few minutes." %}
        </p>
      </div>
      <hr>
      <div class="text-center">
        <a class="small" href="{% url 'account_signup' %}">{% trans "Create an Account!" %}</a>
      </div>
      <div class="text-center">
        <a class="small" href="{% url 'account_login' %}">{% trans "Already have an account? Login!" %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
