{% extends "sb_admin_2/auth/card.html" %}

{% load i18n %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block card %}
  <!-- Nested Row within Card Body -->
  <div class="row">
    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
    <div class="col-lg-7">
      <div class="p-5">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-4">{% trans "Create an Account!" %}</h1>
        </div>
        <form class="user" method="POST" action="{% url 'account_signup' %}">
          {% csrf_token %}

          {% if form.first_name and form.last_name %}
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                {{ form.first_name }}
              </div>
              <div class="col-sm-6">
                {{ form.last_name }}
              </div>
            </div>
            {{ form.first_name.errors }}
            {{ form.last_name.errors }}
          {% endif %}

          {% if form.username %}
            <div class="form-group">
                {{ form.username }}
            </div>
            {{ form.username.errors }}
          {% endif %}

          <div class="form-group{% if form.email2 %} row{% endif %}">
            {% if form.email2 %}
              <div class="col-sm-6 mb-3 mb-sm-0">
                {{ form.email }}
              </div>
            {% else %}
              {{ form.email }}
            {% endif %}
            {% if form.email2 %}
              <div class="col-sm-6">
                {{ form.email2 }}
              </div>
            {% endif %}
          </div>
          {{ form.email.errors }}
          {{ form.email2.errors }}

          <div class="form-group{% if form.password2 %} row{% endif %}">
            {% if form.password2 %}
              <div class="col-sm-6 mb-3 mb-sm-0">
                {{ form.password1 }}
              </div>
            {% else %}
              {{ form.password1 }}
            {% endif %}
            {% if form.password2 %}
              <div class="col-sm-6">
                {{ form.password2 }}
              </div>
            {% endif %}
          </div>
          {{ form.password1.errors }}
          {{ form.password2.errors }}

          <button class="btn btn-primary btn-user btn-block">
    	      {% trans "Register Account" %}
          </button>
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
        </form>
        <hr>
        <div class="text-center">
          <a class="small" href="{% url 'account_reset_password' %}">{% trans 'Forgot Password?' %}</a>
        </div>
        <div class="text-center">
          <a class="small" href="{% url 'account_login' %}">{% trans 'Already have an account? Login!' %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
